/* General styles */
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
}

/* Navbar styles */
.navbar {
  background-color: #004080; /* Professional dark blue */
  color: white;
  padding: 10px 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 14px 20px;
  display: inline-block;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover {
  background-color: #0059b3; /* Slightly lighter blue */
  color: white; /* Contrasting yellow for hover */
}

.navbar .dropdown-content {
  display: none;
  color: black;
  position: absolute;
  background-color: #004080;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}


.navbar .dropdown:hover .dropdown-content {
  display: block;
}

.navbar .dropdown-content a {
  color: black !important;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s, color 0.3s;
}

.navbar .dropdown-content a:hover {
  background-color: #0059b3 !important;
  color: white !important;
}

/* Container styles */
.container {
  padding: 20px;
}

/* Card styles */
.card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

/* Link styles */
a {
  color: #004080;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #0059b3;
  text-decoration: none; /* No underline */
}

/* Footer styles */
footer {
  background-color: #004080;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
