<script src="https://r-wasm.org/latest/webr.mjs"></script>

<script type="module">
  import * as webR from 'https://r-wasm.org/latest/webr.mjs';

  const myWebR = new webR.WebR();

  async function initializeWebR() {
    await myWebR.init();
    console.log('webR initialized');

    const contentScript = await fetch('/scripts/process_content.R')
      .then(response => response.text());

    myWebR.evalR(contentScript);
  }

  initializeWebR();
  
  document.querySelectorAll('a[href^="#"]').forEach(anchor => {
    anchor.addEventListener('click', function(e) {
      e.preventDefault();
      document.querySelector(this.getAttribute('href')).scrollIntoView({
        behavior: 'smooth'
      });
    });
  });
  
  document.addEventListener('DOMContentLoaded', function () {
  // Example of an interactive feature: Collapsible content
  const collapsibles = document.querySelectorAll('.collapsible');
  collapsibles.forEach(collapsible => {
    collapsible.addEventListener('click', function () {
      this.classList.toggle('active');
      const content = this.nextElementSibling;
      if (content.style.display === 'block') {
        content.style.display = 'none';
      } else {
        content.style.display = 'block';
      }
    });
  });
});

</script>


